{{ include('Header.twig') }}
<div class="container">
    <div class="row">
        <div class="col py-5">
            <h1 class="h2">PAYONE Link Example</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">TXID</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for link in links %}
                    <tr>
                        <td><a href="/links/{{ link.linkId }}">{{ link.linkId }}</a></td>
                        <td>{{ link.firstname }}</td>
                        <td>{{ link.lastname }}</td>
                        <td>{{ link.amount }}</td>
                        <td>{{ link.currency }}</td>
                        <td>{{ link.paymentMethod }}</td>
                        <td>{{ link.paymentProcess }}</td>
                        <td>
                            <span class="badge {% if link.status == "executed" %}badge-success{% else %}badge-primary{% endif %}">
                                {{ link.status }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{{ include('Footer.twig') }}